:root {
    --main-bg: #266669;
    --secondary-bg: #fff;
    --primary-color: #266669;
    --secondary-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Futura;
    scroll-behavior: smooth;
}

/********************
* Start: Default Styles
********************/
body {
    /* background: var(--main-color); */
}

.btn {
    border: 0;
    background: transparent;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

input {
    border: 0;
    background: transparent;
    outline: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #333;
}

.btn:hover {
    opacity: 0.8;
}

li {
    list-style: none;
}

.img-wrapper img {
    width: 100%;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 50px;
}

.title {
    font-size: 2.5rem;
    display: block;
    color: var(--primary-color);
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 4px solid var(--main-bg);
    margin-bottom: 30px;
    width: fit-content;
}

.bg-wrapper {
    background: url(../img/bg_100.jpg) center no-repeat;
    background-size: contain;
    background-size: 70% 100%;
    position: relative;
    overflow: hidden;

    clip-path: polygon(0% 90%, 0% 0%, 100% 0%, 100% 90%, 50% 100%);
    padding-bottom: 70px;
}

.bg-wrapper .bg-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.btn-default {
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 18px;
    text-transform: uppercase;
    background: var(--main-bg);
    font-weight: bold;
    color: var(--secondary-color);
}

/********************
* End: Default Styles
********************/

/********************
* Start: Section Header
********************/

.section-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--main-bg);
    min-height: 60px;
}

.section-header .logo {
    max-width: 130px;
    color: #fff;
}

.section-header .mobile-menu-body {
    display: flex;
    align-items: center;
    width: 65%;
    justify-content: space-between;
}

.section-header .navigation a {
    position: relative;
    font-weight: 600;
    margin: 0 15px;
    color: var(--secondary-color);
}

.section-header .navigation a::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--secondary-bg);
    left: 0;
    bottom: -6px;
    transition: 0.25s;
}

.section-header .navigation a:hover::after {
    width: 100%;
}

.section-header .btn-mobile-menu {
    display: none;
    width: 24px;
    height: 24px;
    background: url(../img/icons/menu.svg) no-repeat;
    background-size: cover;
}

.section-header.active .btn-mobile-menu {
    background: url(../img/icons/close.svg) no-repeat;
    background-size: cover;
}





.section-header .contacts {
    display: flex;
    align-items: center;
    gap: 4px;
}

/********************
* End: Section Header
********************/

/********************
* Start: Section Main
********************/

.section-main .container {
    min-height: 700px;
    background: rgba(0, 0, 0, 0.4);
    clip-path: polygon(0% 90%, 0% 0%, 100% 0%, 100% 90%, 50% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo .img-wrapper {
    min-width: 28px;
}

.logo h2 {
    text-transform: uppercase;
    white-space: nowrap;
}

.section-main h1 {
    text-transform: uppercase;
    font-size: 6rem;
    color: #fff;
    text-align: center;
}

.section-main h2 {
    font-weight: normal;
    font-size: 4.5rem;
    color: #fff;
    text-transform: uppercase;
}

.section-main p {
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
}


.section-main .btn-default {
    margin-top: 30px;
    text-align: center;
}



/********************
* End: Section Main
********************/

/********************
* Start: Section About
********************/

.section-about .container {
    display: flex;
    margin-top: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}

.section-about .text-wrapper {
    padding: 0 30px;
    flex: 1 50%;
}

.section-about .text-wrapper p {
    margin-top: 16px;
    color: #5e5e5e;
}



.section-about .img-wrapper {
    flex: 1 50%;
    clip-path: polygon(0% 10%, 0% 10%, 100% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 90%, 0% 100%);
}

.section-about ul li {
    margin-top: 15px;
    position: relative;
    margin-left: 15px;
    padding-left: 15px;
}

.section-about ul li::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: var(--main-bg);
    position: absolute;
    left: -15px;
    top: calc(10px);
}


.section-about ul li b {
    display: block;
    font-size: 20px;
}


/********************
* End: Section About
********************/

/********************
* Start: Section Benefits
********************/

.section-benefits {
    padding: 120px 0 60px;
    background: #fafafa;

    position: relative;
    clip-path: polygon(0% 100%, 0% 25%, 50% 0%, 100% 25%, 100% 100%);
}

.section-benefits::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    clip-path: polygon(0% 100%, 0% 35%, 50% 10%, 100% 35%, 100% 100%);
    background: #f5f5f5;
}

.section-benefits .container {
    position: relative;
}


.section-benefits .title {
    margin-left: auto;
    margin-right: auto;
}

.section-benefits .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.section-benefits .card-wrapper .card {
    max-width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.section-benefits .card-wrapper .img-wrapper {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    /* border: 2px solid var(--main-bg); */
    margin-left: auto;
    margin-right: auto;
}

.section-benefits .card-wrapper .card-title {
    width: 100%;
    margin: 15px 0 5px;
    font-weight: 600;
    font-size: 19px;
}

.section-benefits .card-wrapper p {
    color: #5e5e5e;
}

/********************
* End: Section Benefits
********************/

/********************
* Start: Section Roadmap
********************/

.section-roadmap {
    background: #f5f5f5;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-roadmap .title {
    margin-left: auto;
    margin-right: auto;
}

.roadmap-wrapper {
    margin: 60px auto;
    max-width: 716px;
    position: relative;
}

.roadmap-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 2px);

    display: block;
    height: 85%;
    width: 4px;
    background: var(--main-bg);
}

.roadmap-wrapper .item {
    max-width: 360px;
    height: 120px;
    text-align: right;
    padding-right: 50px;
    position: relative;
    /* margin-bottom: 70px; */
    cursor: pointer;
}

.roadmap-wrapper .item:last-child {
    margin-bottom: 0;
}

.roadmap-wrapper .item b {
    margin-bottom: 5px;
    display: block;
    font-size: 20px;
}

.roadmap-wrapper .item p {
    color: #5e5e5e;
}

.roadmap-wrapper .item::after {
    content: attr(data-count);
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: -18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: var(--main-bg);
    font-size: 20px;
    color: var(--secondary-color);
    border-radius: 100%;
    transition: 0.25s;
}

.roadmap-wrapper .item:hover::after {
    box-shadow: 0px 0px 10px var(--main-bg);
}

.roadmap-wrapper .item:nth-child(odd) {
    margin-left: auto;
    text-align: left;
    padding-left: 50px;
}

.roadmap-wrapper .item:nth-child(odd)::after {
    left: -18px;
}

/********************
* End: Section Roadmap
********************/

/********************
* Start: Section Gallery
********************/

.section-gallery .card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.section-gallery .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-gallery .card-wrapper .img-wrapper {
    height: 230px;
    background: #ddd;
    background: url(https://beepeers.com/assets/images/commerces/default-image.jpg) no-repeat center;
    background-size: cover;
}

.section-gallery .card-wrapper .card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 3px var(--main-bg);
}

/********************
* End: Section Gallery
********************/

/********************
* Start: Section Reviews
********************/

.section-reviews {
    padding-bottom: 60px;
}

.section-reviews iframe {
    margin: 30px auto;
    display: block;
    max-width: 500px;
    width: 100%;
}

/********************
* End: Section Reviews
********************/

/********************
* Start: Section Form
********************/
.section-forms {
    background: #f5f5f5;
}

.section-forms .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
}


.section-forms .title {
    border: 0;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.section-forms .description {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #5e5e5e;
    font-weight: bold;
}

.section-forms .btn-default {
    width: 100%;
    padding: 8px 0;
    border-radius: 0;
    margin-top: 15px;
}

.form-wrapepr form {
    margin-top: 30px;
    max-width: 509px;
    width: 100%;
}

.form-wrapepr .input-wrapper {
    margin-bottom: 15px;
}

.input-wrapper input {
    width: 100%;
    font-size: 18px;
    padding: 0.5rem;
    border: 2px solid var(--main-bg);
}

.section-forms .social-media {
    margin-top: 50px;
    font-size: 18px;
}

.section-forms .img-wrapper {
    max-width: 300px;
}

/********************
* End: Section Form
********************/

/* Start: Dropdown Text */

.dropdown-text {}

.dropdown-text .hidden-content {
    height: 0px;
    overflow: hidden;
    transition: 0.30s;
}

.dropdown-text.active .hidden-content {
    height: 400px;
}

.dropdown-text .btn-default {
    margin-top: 30px;
    font-size: 18px;
    border-radius: 0;
    font-weight: normal;
    padding: 12px 30px;
}

/* End: Dropdown Text */


@media screen and (max-width: 1300px) {
    .section-main h1 {
        font-size: 4rem;
    }

    .section-main h2 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 960px) {
    .title {
        font-size: 1.5rem;
    }

    .section-main .container {
        min-height: 75vh;
    }

    .section-header {
        position: relative;
        top: 0;
        z-index: 10;
        width: 100%;
    }

    .section-header .btn-mobile-menu {
        display: block;
    }


    .section-header .mobile-menu-body {
        position: absolute;
        left: 0%;
        top: -100vh;
        background: #266669;
        width: 100%;
        height: calc(100vh - 60px);
        z-index: -1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 10%;
        transition: 0.3s;
    }

    .section-header .navigation {
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 24px;
    }

    .section-header.active .mobile-menu-body {
        top: 59px;
    }


    .section-header .contacts a,
    .section-header .mobile-menu a {
        font-size: 2rem;
    }


    .section-main h1 {
        font-size: 3rem;
    }

    .section-main h2 {
        font-size: 2.5rem;
    }

    .section-about .container {
        flex-direction: column;
    }

    .section-benefits .card-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .roadmap-wrapper {
        max-width: max-content;
    }

    .roadmap-wrapper::after {
        left: 0;
    }

    .roadmap-wrapper .item {
        text-align: left;
        padding-right: 0;
        padding-left: 50px;
    }

    .roadmap-wrapper .item::after {
        right: calc(100% - 20px);
    }

    .roadmap-wrapper .item:nth-child(odd) {
        margin-left: 0;
    }

    .section-forms .container {
        flex-direction: column;
    }

    .section-forms .container .img-wrapper {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding: 15px;
    }

    .bg-wrapper {
        background-size: 100% 100%;
    }

    .section-main h2,
    .section-main h1 {
        font-size: 2rem;
    }

    .section-main p {
        font-size: 16px;
    }

    .dropdown-text.active .hidden-content {
        height: 610px;
    }

}

@media screen and (max-width: 767px) {
    .container {
        padding: 15px;
    }

    .bg-wrapper {
        background-size: 100% 100%;
    }

    .section-main .container {
        padding: 0;
    }

    .section-main h2,
    .section-main h1 {
        font-size: 2rem;
    }

    .section-main p {
        font-size: 16px;
    }

    .btn-default {
        font-size: 14px;
    }

    .dropdown-text.active .hidden-content {
        height: max-content;
    }

    .roadmap-wrapper {
        margin-left: 20px;
    }

    .section-about .text-wrapper {
        padding: 0;
    }

    .section-benefits {
        clip-path: none;
        padding: 30px;
    }

    .section-forms .title {
        font-size: 1.5rem;
    }

    .section-forms .description {
        font-size: 1rem;
    }

}


@media screen and (max-width: 424px) {
    .title {
        font-size: 1rem;
    }

    .section-main h2,
    .section-main h1 {
        font-size: 1.7rem;
    }



    .section-main p {
        font-size: 14px;
    }

    .section-benefits {
        padding: 0;
    }

    .section-benefits .card-wrapper {
        gap: 15px;
    }

    .section-benefits .card-wrapper .card-title {
        font-size: 16px;
    }

    .section-benefits .card-wrapper p {
        font-size: 14px;
    }

}
